absl-py==0.15.0
aiohappyeyeballs==2.4.4
aiohttp==3.8.6
aiohttp-cors==0.7.0
aioredis==1.3.1
aiosignal==1.3.1
astunparse==1.6.3
async-timeout==4.0.3
attrs==25.3.0
-e git+https://github.com/mccajl/CAPS@b8ccc07c0e540be21b664cba30cf34999ca8c8f1#egg=Blackjack&subdirectory=blackjack
blessed==1.22.0
blessings==1.7
Box2D==2.3.10
cachetools==5.5.2
-e git+https://github.com/mccajl/CAPS@b8ccc07c0e540be21b664cba30cf34999ca8c8f1#egg=Cartpole&subdirectory=Cartpole
certifi==2025.10.5
charset-normalizer==3.4.3
click==8.1.8
cloudpickle==3.1.1
colorama==0.4.6
colorful==0.5.7
contourpy==1.1.1
cycler==0.12.1
decorator==5.2.1
dm-tree==0.1.8
docker-pycreds==0.4.0
Farama-Notifications==0.0.4
filelock==3.16.1
flatbuffers==1.12
fonttools==4.57.0
frozenlist==1.5.0
fsspec==2025.3.0
gast==0.4.0
gensim==4.3.3
gitdb==4.0.12
GitPython==3.1.44
google-api-core==2.26.0
google-auth==2.41.1
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
googleapis-common-protos==1.70.0
gpustat==1.1.1
-e git+https://github.com/mccajl/CAPS@b8ccc07c0e540be21b664cba30cf34999ca8c8f1#egg=Gridworld&subdirectory=gridworld
grpcio==1.34.1
gym==0.26.2
gym-notices==0.1.0
gymnasium==1.1.1
h5py==3.1.0
hiredis==3.2.1
idna==3.10
importlib_metadata==8.5.0
importlib_resources==6.4.5
Jinja2==3.1.6
joblib==1.4.2
jsonschema==4.23.0
jsonschema-specifications==2023.12.1
keras-nightly==2.5.0.dev2021032900
kiwisolver==1.4.7
Levenshtein==0.25.1
-e git+https://github.com/mccajl/CAPS@b8ccc07c0e540be21b664cba30cf34999ca8c8f1#egg=LunarLander&subdirectory=lunarlander
lz4==4.3.3
Markdown==3.7
MarkupSafe==2.1.5
matplotlib==3.6.3
-e git+https://github.com/mccajl/CAPS@b8ccc07c0e540be21b664cba30cf34999ca8c8f1#egg=MountainCar&subdirectory=mountaincar
mpmath==1.3.0
msgpack==1.1.1
multidict==6.0.5
networkx==3.1
numpy==1.24.4
nvidia-cublas-cu12==12.1.3.1
nvidia-cuda-cupti-cu12==12.1.105
nvidia-cuda-nvrtc-cu12==12.1.105
nvidia-cuda-runtime-cu12==12.1.105
nvidia-cudnn-cu12==8.9.2.26
nvidia-cufft-cu12==11.0.2.54
nvidia-curand-cu12==10.3.2.106
nvidia-cusolver-cu12==11.4.5.107
nvidia-cusparse-cu12==12.1.0.106
nvidia-ml-py==13.580.82
nvidia-nccl-cu12==2.18.1
nvidia-nvjitlink-cu12==12.9.86
nvidia-nvtx-cu12==12.1.105
oauthlib==3.3.1
opencensus==0.11.3
opencensus-context==0.1.3
opencv-python-headless==4.7.0.72
opt-einsum==3.3.0
packaging==25.0
pandas==1.4.4
pillow==10.4.0
pkgutil_resolve_name==1.3.10
platformdirs==4.3.6
prometheus_client==0.21.1
propcache==0.2.0
proto-plus==1.26.1
protobuf==3.20.3
psutil==7.1.0
py-spy==0.4.1
pyasn1==0.6.1
pyasn1_modules==0.4.2
pydantic==1.9.2
pyparsing==3.1.4
python-dateutil==2.9.0.post0
python-Levenshtein==0.25.1
pytz==2025.2
PyYAML==6.0.3
rapidfuzz==3.9.7
ray==1.4.1
redis==3.5.0
referencing==0.35.1
requests==2.32.4
requests-oauthlib==2.0.0
rpds-py==0.20.1
rsa==4.9.1
scikit-learn==1.3.2
scipy==1.10.1
sentry-sdk==2.40.0
setproctitle==1.3.7
six==1.15.0
smart_open==7.3.1
smmap==5.0.2
sympy==1.13.3
tabulate==0.9.0
tensorboard==2.11.2
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorboardX==2.6.2.2
termcolor==1.1.0
texttable==1.7.0
threadpoolctl==3.5.0
torch==2.1.2
tqdm==4.67.1
triton==2.1.0
typing_extensions==4.13.2
urllib3==2.2.3
wandb==0.18.3
wcwidth==0.2.14
Werkzeug==3.0.6
wrapt==1.12.1
yarl==1.15.2
zipp==3.20.2